<!DOCTYPE html>
<head>
  <title>Lounas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="/static/favicon.ico">
  <style type="text/css">
    body {
      font-family: "Open Sans", Menlo, Monaco, fixed-width;
      margin: 40px auto;
      max-width: 650px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px;
    }
    h1,
    h2,
    h3 {
      line-height: 1.2;
      text-transform: capitalize;
    }
  </style>
</head>
<body>

  <h1>Ruokaa!</h1>

    {% for title, items in list %}
      <h2> {{ title }}: </h2>
        {% if items %}
          <ul>
            {% for item in items %}
              <li> {{ item }}</li>
            {% endfor %}
          </ul>
        {% else %}
          Ei mitään :(
        {% endif %}
    {% endfor %}

</body>
